# Build
# /dist
/lib
/lib-types
# /server

# Development
node_modules
*.local

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn
.yarn/*
!.yarn/releases
.env
dist.zip
server.zip
dist
server
fastify
build-master.zip
build-most-recent-working.zip
build-working-idle-start.zip
build-timer-fixed.zip
build-timer-fixed.zip
dist.bak
dist.node
server.node
upload.zip

# Cloudflare
functions/**/*.js
.wrangler/state/v3/d1/miniflare-D1DatabaseObject
