.tooltip {
  position: relative;
  cursor: pointer;
  font-size: clamp(0.7rem, 1vw, 1rem);
}

.tooltip label,
.tooltip input {
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #222;
  border: 1px solid #111;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* position the tooltip */
  position: absolute;
  z-index: 10;
  top: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


html {
  --success-color: rgba(123, 123, 255, 1);
  --card-glow: rgba(123, 255, 123, 1);
  --mismatch-color: rgba(255, 123, 123, 1)
}
